<ion-menu side="end" menuId="menuExtra" content-id="con">

  <ion-header>
    <ion-toolbar class="ion-text-center">
      <ion-title>Options</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list class="ion-padding">
      <ion-item>
        <ion-menu-toggle>
         <ion-text class="textSize" routerLink="/tabs/profile">My Profile</ion-text>
        </ion-menu-toggle>
      </ion-item>

      <ion-item>
        <ion-menu-toggle>
          <ion-text class="textSize" routerLink="/tabs/configuration">Configuration</ion-text>
        </ion-menu-toggle>
      </ion-item>

      <ion-item>
        <ion-menu-toggle>
          <ion-text class="textSize" routerLink="/tabs/acknow">Acknowledgements</ion-text>
        </ion-menu-toggle>
      </ion-item>

    </ion-list>

  </ion-content>

</ion-menu>
