.avatarTele {
  height: 100px;
  width: 100px;
}

.column {
  display: flex;
}

.roboto {
  font-family: "Roboto Thin";
  color: white;
}

.btnLogin {
  width: 100%;
  background-color: purple;
  color: white;
}
