.avatarTele {
  height: 100px;
  width: 100px;
}


.column {
  display: flex;
}

.roboto {
  font-family: "Roboto Thin";
  color: white;
}

.btnLogin {

  width: 100%;
  display: flex;
  margin-top: 15px;
  width: 250px;
  background-color: purple;
  color: white;

}

.spanColor {
  color: aqua;
}
