<app-header [tittle]="'Weather'"/>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar [(ngModel)]="searchText" (ionInput)="filterProvincias($event)" debounce="500" placeholder="Search Provinces"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    @for (we of filteredProvinciaWeather; track $index) {

      <ion-card [routerLink]="'/tabs/details-weather/'+we.CODPROV">

        <ion-card-header>
          {{we.CAPITAL_PROVINCIA}}
        </ion-card-header>

        <ion-card-content>
          <p>{{we.COMUNIDAD_CIUDAD_AUTONOMA}}</p>
          <p> Cod Autonoma  <ion-badge>{{we.CODAUTON}}</ion-badge> Cod provincia <ion-badge>{{we.CODPROV}}</ion-badge> </p>
          <ion-text color="primary">click for more information</ion-text>
        </ion-card-content>
      </ion-card>

    }
  </ion-list>


</ion-content>
