<ion-tabs >
  <ion-tab-bar slot="bottom" class="ion-padding">

    <ion-tab-button tab="meet-up">
      <ion-icon name="footsteps" class="iconSize"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="guides">
      <ion-icon name="reader" class="iconSize"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="personal">
      <ion-icon name="person" class="iconSize"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="weather">
      <ion-icon name="rainy" class="iconSize"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="pollution">
      <ion-icon name="map" class="iconSize"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="camera">
      <ion-icon name="camera" class="iconSize"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
